@import "../../vendor/fonts.css";

.form__label {
  color: #2f71e5;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.form__label:last-of-type {
  margin-bottom: 39px;
}

.form__input-text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 0 8px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  width: 358px;
}

.form__error {
  color: #f00;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3px;
}

@media screen and (max-width: 320px) {
  .form__input-text {
    width: 100%;
  }

  .form__label:last-of-type {
    margin-bottom: 23px;
  }
}
