@import "../../vendor/fonts.css";

.search__form {
  display: flex;
  flex-direction: column;
}

.search__form-content {
  display: flex;
  flex-direction: row;
  max-width: 608px;
  max-height: 64px;
  height: 64px;
  border-radius: 100px;
  border: 0px solid #d1d2d6;
  background-color: white;
  color: #000;
  justify-content: center;
}

.search__form-input {
  width: 608px;
  height: 64px;
  fill: #fff;
  border-radius: 100px;
  border: none;
  text-indent: 24px;
  z-index: 0;
  padding: 0;
}

.search__form-input::placeholder {
  color: #b6bcbf;
}

.search__form-button {
  width: 168px;
  height: 64px;
  border-radius: 100px;
  background: #2f71e5;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--main-white, #fff);
  text-align: center;
  border: none;
  z-index: 1;
  margin-left: -168px;
  cursor: pointer;
}

.search__form-error {
  visibility: visible;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-top: 3px;
  align-self: center;
}

.search__form-error-inactive {
  visibility: hidden;
}

.search__form-button:hover {
  background-color: #347eff;
}

.search__form-button:active {
  background-color: #2a65cc;
}
