@import "../../vendor/fonts.css";

.modal__success-content {
  max-width: 430px;
  max-height: 182px;
  background-color: #fff;
  border-radius: 20px;
  padding: 43px 79px 51px 36px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__success-title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 315px;
  margin: 0;
}

.modal__success-button {
  color: #2f71e5;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: left;
  margin-top: 14px;
}
