@import url("../../vendor/fonts.css");

.preloader__section {
  height: 282px;
  width: 100%;
  background: #f5f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preloader__circle {
  margin-top: 80px;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.preloader__circle::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 1px solid #888;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.preloader__info {
  color: var(--simulator-gray-text, #b6bcbf);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 80px;
}
