@import "../../vendor/fonts.css";

.header {
  height: 576px;
  margin: 0 auto;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/header_picture.png);
}

.header__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  color: var(--main-white, #fff);
  font-family: Roboto Slab;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 608px;
  margin: 160px 0 32px 0;
}

.header__text {
  color: var(--main-white, #fff);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 66px 0;
}

.header__search {
  display: flex;
}

.header__input {
  width: 608px;
  height: 64px;
  fill: #fff;
  border-radius: 100px;
  border: none;
  text-indent: 24px;
  z-index: 0;
  padding: 0;
}

.header__button {
  width: 168px;
  height: 64px;
  border-radius: 100px;
  background: #2f71e5;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--main-white, #fff);
  text-align: center;
  border: none;
  z-index: 1;
  margin-left: -168px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    width: 768px;
    height: 466px;
  }

  .header__section {
    height: 466px;
    align-items: flex-start;
  }

  .header__title {
    width: 385px;
    font-size: 36px;
    margin-top: 104px;
    margin-bottom: 16px;
    margin: 104px 0 16px 160px;
  }

  .header__text {
    width: 452px;
    font-size: 18px;
    margin-bottom: 48px;
    margin-left: 160px;
  }

  .header__search {
    width: 448px;
    height: 56px;
    margin-left: 160px;
  }

  .search__form-input {
    width: 448px;
    height: 56px;
  }

  .search__form-button {
    width: 160px;
    height: 56px;
    margin-bottom: 48px;
    margin-left: -160px;
  }

  .search__form-content {
    width: 448px;
    height: 56px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    height: 592px;
  }

  .header__section {
    height: 592px;
  }

  .header__title {
    width: 285px;
    margin: 86px 16px 16px 16px;
  }

  .header__text {
    width: 288px;
    margin: 0 16px 122px 16px;
  }

  .header__search {
    margin-left: 16px;
    margin-right: 16px;
    width: 288px;
  }

  .search__form {
    width: 288px;
  }

  .search__form-input {
    width: 288px;
    height: 56px;
  }

  .search__form-content {
    width: 288px;
  }

  .search__form-button {
    width: 288px;
    height: 56px;
    margin: 72px 16px 32px 16px;
    position: absolute;
  }
}
