@import "../../vendor/fonts.css";

.newscardslist {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f6f7;
}

.newscardslist__title {
  color: var(--main-primary, #1a1b22);
  font-family: Roboto Slab;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  padding: 80px 624px 64px 104px;
  width: 712px;
  margin: 0;
  cursor: pointer;
}

.newscardslist__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.newscardslist__button {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background: var(--main-white, #fff);
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--main-primary, #1a1b22);
  margin-top: 64px;
  margin-bottom: 80px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
