@import "../../vendor/fonts.css";

.newscardslist {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f6f7;
}

.newscardslist__title {
  color: var(--main-primary, #1a1b22);
  font-family: Roboto Slab;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  padding: 80px 624px 64px 104px;
  width: 712px;
  margin: 0;
  cursor: pointer;
}

.newscardslist__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  justify-content: center;
}

.newscardslist__button {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background: var(--main-white, #fff);
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--main-primary, #1a1b22);
  margin-top: 64px;
  margin-bottom: 80px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.newscardslist__button:hover {
  background: var(--main-white-hover, #e8e8e8);
}

@media screen and (max-width: 768px) {
  .newscardslist {
    width: 768px;
  }

  .newscardslist__title {
    width: 336px;
    font-size: 30px;
    padding: 40px 392px 32px 40px;
  }

  .newscardslist__button {
    width: 240px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .newscardslist {
    width: 320px;
  }

  .newscardslist__title {
    width: 288px;
    padding: 32px 16px 56px 16px;
  }

  .newscardslist__container {
    margin: 0;
  }

  .newscardslist__button {
    width: 288px;
    height: 56px;
    margin-top: 21px;
    margin-bottom: 24px;
  }
}
